html{
    box-sizing: border-box;
    font-family: Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 2vw;
}

h1{
    color:black;
    font-size:5vw;
    font-weight: 200;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    text-decoration: underline;
}

h2{
    font-family: Copperplate, Roboto, Helvetica, sans-serif;
    font-weight: 200;
    font-size:3vw;
    text-decoration: underline; 
}

/*img {
    border-radius: 20px;
    width: 80vw;
    max-width: 900px;
    height: auto; 
    padding: 5px;
} */

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
    font-size: 4vw;
    font-weight: 200;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    text-decoration: underline;
}
.header ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    margin-left: -20px;
    margin-right: 20px;
}
.header a {
    font-size: 22px;
    color: black;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
}

.logo img{
    height: auto;
    width: 100px;
    border: 8px;
}

.left-links ul{
    gap: 8px;
    display: flex;
}

.right-links ul{
    gap: 8px;
    display: flex;
}