html{
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size:10vw;
}
h1{
    color:black;
    font-size:5vw;
    font-weight: 200;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-variant: small-caps;
    text-decoration: underline;
}

h2{
    font-family: Copperplate, Roboto, Helvetica, sans-serif;
    font-weight: 200;
    font-size:3vw;
    text-decoration: underline; 
}

ul,
ol,
li,
p,
a
{
    font-size: 2vw;
    font-weight: 200;
}
img {
    border-radius: 20px;
    width: 80vw;
    max-width: 900px;
    height: auto; 
    padding: 5px;
}