body{
    background-color: whitesmoke;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-weight: bold;
    font-variant: small-caps;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: underline;
    
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    border-radius: 20px;
    width: 500px;
    height: auto; 
    padding: 5px;
}